doctype html
html 
    head 
        meta(charset="utf-8")
        title=title
        link(rel='stylesheet', href='/restFront.css')
    body 
        nav
            a.home(href="/") 홈 
            a.post(href="/post") 게시글 쓰기
        h1=message 
        h2=error.status 
        pre #{error.stack}
        