//-layout을 가져옴
extends layout

//-받아온 post 객체에 있는 title과 content를 출력
block content
    div(class="postContent")
        - const text = post.content;
        div(class="contentHeader")
            h1 #{post.title}
            span 작성시간: #{post.time}
        span(class='content').
            !{text}