//-모든 웹사이트에 공통적으로 보여지는 부분
doctype html
html 
    head 
        meta(charset="utf-8")
        title 대나무 갤러리 
        link(rel='stylesheet', href='/restFront.css')
    body 
        nav
            a(href="/") 홈 
            a(href="/post") 게시글 쓰기
        block content 
